.News {
    &__item {
        padding: 20px 0 10px 0;
        margin-bottom: 10px;
        border-bottom: solid 1px #ececec;
        clear: both;
        overflow: auto;
    }
    &__date {
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .News__image {
        float: left;
        margin: 0 20px 15px 0;
    }
}