.Tickets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    &__item {
        flex: 1 1 auto;
        padding: 10px;
        margin-bottom: 15px;
        text-align: center;
    }
    a {
        &.image {
            display: block;
        }
        &.buy {
            display: inline-block;
            margin: 8px;
            padding: 7px 20px;
            background-color: white;
            border-radius: 4px;
            font-size: 1.2rem;
            color: black;
            text-decoration: none;
        }
    }
    .is_free {
        display: inline-block;
        margin: 8px;
        padding: 7px 20px;
        background-color: white;
        border-radius: 4px;
        font-size: 1.2rem;
        color: black;
        text-decoration: none;
    }
}