body {
    background-color: $body-bg;
}
a {
    color: $link-color;
    text-decoration: underline;
}
.table-unapproved {
    background-color: rgba(255, 0, 0, 0.04);
    a.table-book-title {
        font-weight: bold;
    }
    td.table-content {
        position: relative;
        &:after {
            content: 'unapproved';
            position: absolute;
            bottom: 3px;
            right: 3px;
            font-size: 0.7rem;
            color: rgba(255, 50, 50, 1);
        }
    }
}
aside {
    background-color: #ececec;
    padding: 15px 15px 200px 15px;
    ul li ul {
        list-style: none;
        font-size: 0.8rem;
        padding: 0px 0 0 20px;
    }
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }